.button {
    text-decoration: none;
    outline: none;


    &-container {
        margin-bottom: 20px;
        text-align: center;
        box-sizing: border-box;


        @mixin atLarge {
            text-align: left;
            width: 100%;
        }
    }


    &--green {
        background: $green;
        color: white;


    }

    &--grey {
        background: #b5bcc5;
        color: white;
    }

    &--medium {
        border: none;
        padding: 12px 15px;
        border-radius: 3px;
        font-size: 1rem;
        font-weight: 500;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }



        @mixin atLarge {

            height: 45px;
        }
    }





    &--thin {

        text-transform: uppercase;

        @mixin atMedium {
            padding: 20px;
            border-radius: 20%;
            color: white;


        }

        @mixin atLarge {
            padding: 15px;
            font-weight: bold;
            font-size: .875rem;
            border-radius: 10px;

        }


        &:hover {
            background: white;
            border: 2px solid $green;
            color: $green;
            border: 2px solid $green;
            transition: all .2s ease-out;

        }
    }





    &--text {
        @mixin atMedium {
            visibility: hidden;
            display: none;
        }
        @mixin atLarge {
            visibility: visible;
            display: inline;
            margin-bottom: 23px;
        }
    }

    &-large {
        border: 2px $reg solid;
        padding: 15px 35px 13px 35px;
        width: 100%;
        border: 2px solid #b5bcc5;
        color: #98a2af;
        font-size: 1rem;
        font-weight: bold;

    

    }
}
