html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
    position: relative;
   
    a {
        text-decoration: none;
        color: $reg;
    }

    li {
        list-style: none;

    }

}

.bodyMobileOpen {

    top: 400px;
    @mixin atMedium {
        top: 0;
    }
}


.container {

    max-width: 1440px;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;


    @mixin atLarge {
        padding: 0 85px;
        margin: 0 auto;
    }


}


.icon-wrapper {
    padding-right: 3px;

    @mixin atMedium {

        font-size: 1.5rem;
    }
    @mixin atLarge {
        font-size: 1.2rem;

    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*
    * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}

*/
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    font-size: 2rem;
    color: $reg;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    border: 3px white solid;
    transition: all .1s ease-in;
    background: $green;
    color: white;

}


#back-to-top:hover {}



a.image-bottom-border{
 border-bottom: 6px solid #c4e1dd;

}

input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

    
}

/*
.noScroll { 
  overflow: hidden;
}*/
