body {


    a {
        text-decoration: none;
        color: $reg;


    }

    li {
        list-style: none;
    }


    width: 100%;
    margin: 0;
    font-family: 'Roboto',
    sans-serif;

}

.container {
    max-width: 1400px;
    margin: 0 auto;
    height: 100%;
    padding: 0 20px;
    
    @mixin atLarge {
        padding: 0 80px;
    }





}


.icon-wrapper {
    padding-right: 3px;

    @mixin atMedium {

        font-size: 1.5rem;
    }
    @mixin atLarge {
        font-size: 1.2rem;

    }
}

* {
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;

}
