.img-gallery {

    padding: 85px 0;
    text-align: center;
    font-weight: 300;
    border-bottom: 1px solid #e5e9ec;


    &--gridContainer {
        width: 100%;
        cursor: pointer;
        overflow: hidden;
    }

    &--imgWrapper {

        position: relative;
        vertical-align: bottom;
        margin-bottom: 5px;
        overflow: hidden;


        @mixin atSmall {
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: bottom;
        }

        @mixin atMedium {
            margin: 0;
            /*            overflow: auto;*/
        }


        @mixin atLarge {
            text-align: center;
            max-width: 500px;
            width: 33%;
            margin: 0;

        }


        &:hover img {
            transition: all .25s ease-in-out;
            transform: scale(1.1);


        }
        &:hover {
            overflow: hidden;
        }
    }

    img {


        width: 100%;
        height: 250px;




    }


    &--img--textContainer {


        display: inline-block;
        position: absolute;
        height: 100%;
        color: white;
        top: 0px;
        left: 0;
        right: 0;

        h3 {
            display: none;
        }

        p {
            display: none;
        }


        &:hover {
            transition: all .2s ease-in-out;
            background-color: $green;
            opacity: 0.9;
            overflow: hidden;

            h3 {
                font-size: 1.125rem;
                display: block;
                margin-top: 25%;
                margin-bottom: 10px;
                font-weight: 300;
            }
            p {
                font-size: .75rem;
                margin-top: 0px;
                display: block;
            }




        }
    }
}



/* Style the Image Used to Trigger the Modal */

/*
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}
*/

/* The Modal (background) */

.modalImage {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 50000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;



}

.image-gallery-arrows i {
    font-size: 4rem;
    color: white;
    font-weight: normal;


    @mixin atMedium {
        font-size: 8rem;
    }

    @mixin atLarge {
        font-size: 10rem;
    }


}

#left {
    position: absolute;
    left: 0px;
    top: 20%;

    @mixin atMedium {
        left: 5%;
    }
}

#right {
    position: absolute;
    right: 0px;
    top: 20%;
    @mixin atMedium {
        right: 5%;
    }

}

/* Caption of Modal Image (Image Text) - Same Width as the Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.8s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.closeImageGallery {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeImageGallery:hover,
.closeImageGallery:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* 100% Image Width on Smaller Screens */

@mixin atMedium {
    .modal-content {
        width: 60%;
    }
}
