.img-gallery {

    padding: 85px 0;
    text-align: center;
    font-weight: 300;

    &--gridContainer {
        width: 100%;
        cursor: pointer;
        overflow: hidden;
    }

    &--imgWrapper {

        position: relative;
        vertical-align: bottom;
        overflow: auto;
        margin-bottom: 5px;


        @mixin atSmall{
            margin-bottom: 10px;
            display: inline-block;
            vertical-align: bottom;
        }
        
        @mixin atMedium{
            margin: 0;
            overflow: auto;
            
       
        }
        
        
        @mixin atLarge {
            width: 33%;
            margin: 0;
          
        }


        &:hover img {
            transition: all .25s ease-in-out;
            transform: scale(1.2);

        }
    }

    img {
        width: 100%;
        height: auto;

      
    }


    &--img--textContainer {
        display: inline-block;
        position: absolute;
        height: 100%;
        color: white;
        top: 0px;
        left: 0;
        right: 0;


        h3 {
            display: none;
        }

        p {
            display: none;
        }


        &:hover {
            transition: all .2s ease-in-out;
            background-color: $green;
            opacity: 0.9;

            h3 {
                font-size: 1.125rem;
                display: block;
                margin-top: 25%;
                margin-bottom: 10px;
                font-weight: 300;
            }
            p {
                font-size: .75rem;
                margin-top: 0px;
                display: block;
            }

       


        }
    }
}
