.mapForm {
	&__container {
		border-top: 1px solid #e5e9ec;
		padding: 80px 0;
		width: 100%;
		display: inline-block;
		@mixin atMedium {
			padding-top: 80px;
			padding-bottom: 120px;
			text-align: center;
		}
		@mixin atLarge {
			text-align: center;
		}
	}
	&__map {
		display: block;
		iframe {
			width: 100%;
		}
		@mixin atLarge {
			display: inline-block;
			width: 50%;
			max-width: 650px;
			min-width: 300px;
		}
	}
	&__formContainer {
		display: block;
		vertical-align: top;
		span {
			text-align: left;
			font-size: .875rem;
			color: $reg;
			font-weight: 300;
			margin: 0;
			display: block;
			margin-top: 20px;
			@mixin atMedium {
				display: inline-block;
				margin-left: 30px;
				margin-top: 0;
			}
		}
		@mixin atSmall {
			padding-top: 20px;
		}
		@mixin atMedium {
			padding-top: 0;
			margin: 0;
		}
		@mixin atLarge {
			display: inline-block;
			width: 49.5%;
			max-width: 650px;
		}
	}
	&__form {
		text-align: left;
		width: 100%;
		margin-top: 30px;
		
        @mixin atMedium {
			width: 100%;
			font-size: 1rem;
			position: static;
			left: 0;
			right: 0;
			top: 0;
			text-align: left;
			font-weight: 300;
		}
		
        @mixin atLarge {
			margin-left: 30px;
			margin-top: 0;
		}
		label {
			font-size: .875rem;
			display: block;
			padding-bottom: 10px;
		}
		input {
			display: block;
			height: 47px;
			width: 100%;
			background-color: #e5e9ec;
			border: none;
			padding: 15px;
			font-size: .875rem;
			color: $reg;
			font-weight: 300;
		}
	}
	&__formElement {
		padding-bottom: 20px;
		&:last-child {
			padding-top: 20px;
		}
	}
}