.site-header {
    position: fixed;
    top: -30px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 80px;
    max-width: 1200px;



    @mixin atMedium {
        height: 100px;
        padding: 0 2s%;
    }

    @mixin atLarge {
        height: 120px;
        padding-top: 20px;
    }


    &__btn-container {
        display: inline-block;
        float: right;
        margin-left: 30px;
        position: relative;
        top: 3px;

        @mixin atMedium {
            top: 50px;
        }
        @mixin atLarge {
            top: 40px;
        }
    }


    &--logo {
        position: absolute;
        top: 35px;
        left: 20px;
        right: 0;
        padding: 5px;
        height: 33px;

        @mixin atSmall {
            padding: 5px;
        }


        @mixin atMedium {
            position: static;
            height: 40px;
            margin-top: 40px;


        }

        @mixin atLarge {
            display: inline;
            height: 40px;
            width: 200px;
            padding: 0;
        }
    }

    &--close-icon {
        width: 20px;
        height: 20px;
        border: 2px black solid;
        position: absolute;
        right: 0;
        top: 43px;
        bottom: 40px;
        margin-right: 20px;

        @mixin atMedium {
            display: none;
        }




    }


    &--content {
        display: none;


        @mixin atMedium {
            display: inline;
        }
    }




}
