.two-col {

    display: inline-block;
    padding: 85px 0;
    border-bottom: 1px solid #e5e9ec;
    width: 100%;

    a {
        color: $green;
        text-decoration: underline;
    }


    &--leftContainer {

        @mixin atSmall {
            width: 100%;
            text-align: center;
        }

        @mixin atLarge {
            width: 50%;
        }
    }

    .two-col-img {
        max-width: 100%;
        height: auto;
        float: none;

        @mixin atSmall {
            width: 400px;
        }


        @mixin atLarge {
            float: left;
        }

    }

    &--rightContainer {
        text-align: center;
        float: none;
        width: 100%;

        h1 {
            font-weight: 300;
            color: $reg;
            font-size: 1.5rem;
            line-height: 1.2;
        }

        h3 {
            color: $green;
            font-weight: 300;
            font-size: 1rem;
        }

        p {
            font-weight: 100;
            color: $reg;
            line-height: 150%;
            font-size: .875rem;
        }

        @mixin atSmall {
            padding: 0 20px;

            p {
                font-size: .875rem;
            }
        }

        @mixin atMedium {
            padding: 0 10%;

            h1 {
                font-size: 1.75rem;
            }
            h3 {
                font-size: 1.2rem;
            }

            p {
                font-size: 1rem;

            }
        }


        @mixin atLarge {
            padding: 0;
            text-align: left;
            width: 50%;
            float: right;

            h1 {
                font-size: 1.875rem;
            }

            h3 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
            }
        }

    }


}
